[data-theme="light"] {
  --background: #ffffff;
  --foreground: #09090b;
  --card: #ffffff;
  --primary: #2b7fff;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717b;
  --border: #e4e4e7;
  --error: #e7000b;
}

[data-theme="dark"] {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --primary: #155dfc;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #9f9fa9;
  --border: #ffffff1a;
  --error: #ff6467;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--foreground);
  background-color: var(--background);
}

button {
  color: inherit;
  background: none;
  border: none;
}

.calculator {
  width: 500px;
  height: 450px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 20px;
}

.calculator-top {
  display: flex;
}

.output {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2px;
  font-size: 20px;
}

.future-state {
  color: var(--muted-foreground);
}

.error-state {
  color: var(--error);
}

.theme-switcher {
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.button {
  cursor: pointer;
  padding: 10px;
  background: var(--secondary);
  color: var(--secondary-foreground);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 1px 1px 1px var(--primary);
  text-align: center;
  list-style: none;
  transition: .3s;
}

.button--wide {
  grid-column: span 2;
}

@media (hover: hover) {
  .button:hover {
    box-shadow: 0px 0px 1px var(--primary);
    background: var(--secondary);
  }
}